<div id="beg">
    <p>
        The beta app is done.   Now I turn to friends and family to help start up and build my business idea.  I still have a lot of work ahead to turn the beta into a production application. There is operating expenses, trademark and incorporate fees.  I need at least 10 friends and family to donate just $50.00 a month for the next year.  After I offer .05% of revenue until repayment reaches $2,500.  If the concept fails, I will sell my soul back to the corporate  devils and repay $1,000.

    </p>
    <p>
        Click the link below and donate now.
    </p>
    <p>
    <a href="styles/Clickgetmeflow.docx">ClickGet Process flow</a>
        </p>
    <br />
</div>
