<!-- voptions.html -->
<div class="dialogwrapper" style="display: none">
    <div data-role="popup" id="voption" data-overlay-theme="b"data-dismissible="false">
        <h3>Vendor Options</h3>
        <p>
            <label for="playsound">Play Sound</label>
            <input id="playsound" type="checkbox" class="optioncheck" />
            <label for="autoprint">Auto Print</label>
            <input id="autoprint" type="checkbox"  class="optioncheck" />
            <label for="requirelogin">Require Login</label>
            <input id="requirelogin" type="checkbox" class="optioncheck"  />
            <label for="offlineorder">Allow offline Orders</label>
            <input id="offlineorder" type="checkbox" class="optioncheck"  />
        </p>
        <hr />
        <p>

            <a  href='#' data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-inline">Close</a>

        </p>
    </div>
</div>
