extends layout2

block content
	#bodywrap
		section(class="main-content")
			div(class="content-wrapper")
				include includes/vordertaker.html
	include includes/login.html
block scripts
	script(src='/vendor/#{phone}/vendor.js')
	script(src='/javascripts/vendorproc.js')