extends layout

block content
	section(class="featured")
		div(class="content-wrapper")
			hgroup(class="title")
			h1=title
	section(class="main-content")
		include includes/startup.html
		include includes/donate.html
		