extends layout2 

block content
    section#page1(data-role='page')
    include includes/register.html

block scripts
    script(src='/chosen/chosen.jquery.min.js')
    script(src='/javascripts/register.js')
    